body {
  background-image: url("/public/bg.png");
  background-size: cover;
  background-position: center;
  z-index: -1;
  color: white;
}

/*Makes the background looks darker*/
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  z-index: -1;
}

.margin {
  margin: 48px
}

h1 {
  font-size: 40px;
}

/*Makes the content to be centralised*/
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.honk {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

.tagline {
  font-size: 20px;
  font-style: italic;
}

.button {
  background-color: deeppink;
  border-radius: 50%;
  color: white;
  border: none;
  padding: 10px 20px;
  box-shadow: 0 0 10px deeppink;
}

/*Reference: OpenAI. (2025). ChatGPT (GPT-5.1) [Large language model]. https://chat.openai.com/*/
